<!DOCTYPE html>
<html>
  <head>
    <title>AskMyBook - Rails - AI Trainer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Train AI on a new book</h1>
    <h2>Enter the following data on your book and place the PDF for it as "book.pdf" in the "trainings_data" folder</h2>

    <%= form_with(model: @book, url: train_ai_path, method: :post) do |form| %>
      <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title, "Book title" %>
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.label :author, "Author of the book" %>
        <%= form.text_field :author %>
      </div>

      <div class="field">
        <%= form.label :cover, "Cover image URL" %>
        <%= form.text_field :cover %>
      </div>

      <div class="field">
        <%= form.label :link, "Link to purchase the book" %>
        <%= form.text_field :link %>
      </div>

      <div class="actions">
        <%= form.submit "Next" %>
      </div>
    <% end %>
  </body>
</html>